@charset "UTF-8";

h1 {
	font-size: 30px !important; 
	margin: 20px 0px 20px 0px; 
}

h2 {
	font-size: 20px !important; 
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center; 
}

.footer-text {
	background-color: lightgrey; 
	color: black; 
}